<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "DENY"
  Header set Referrer-Policy "no-referrer"
  Header set Permissions-Policy "geolocation=(), microphone=(), camera=()"
  Header set Content-Security-Policy "default-src 'self'; base-uri 'self'; form-action 'self'; frame-ancestors 'none'; object-src 'none'; script-src 'self'; style-src 'self'; img-src 'self' data: blob:; font-src 'self'; worker-src 'self'; connect-src 'self'"
</IfModule>

<IfModule mod_mime.c>
  AddType font/woff2 .woff2
  AddType text/javascript .js
</IfModule>
